*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'inter', 'Karla', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1f2937;
    color: #d5d4d8;
}

h1 {
    color: #d5d4d8;
}
h2 {
    color: #4ADF86;
    margin-bottom: 2em;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1em;
}

.wrapper {
    min-width:auto;
    padding: 10px;
    margin: auto;
    filter: drop-shadow(14px -5px 16px #000000);
    border: 3px #ffffff;
    border-radius: 5px;
}

hr {
    background-color: #57625c;
    color:#414954;
    border-style: solid;
    border-width: 1px;
    margin-top: .5em;
    margin-bottom: 1.5em;
} 

#generate-passwords { 
    background-color: #50b879;
    color: #ffffff;
    border-radius: .3em;
    border: none;
    padding: .5em;
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
}


#header-line-two {
    color: #4ADF86;
}

.flex {
    display: flex;
    justify-content: space-between;
    column-gap: 2em;
}

.password-field {
    display: inline-block;
    background-color: #273549;
    color: #55f991;
    border-radius: .25em;
    text-align: center;
    padding: .25em;
    flex-grow: 1;
}