*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'inter', 'Karla', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1f2937;
    color: #d5d4d8;
    max-width: 80vw;
    margin: auto;
}

button { 
    background-color: #4ADF86;
    color: #ffffff;
    border-radius: .3em;
    border: none;
    padding: .5em;
    font-size: 1rem;
}

hr {
    background-color: #57625c;
    color:#1f2937;
    border-style: solid;
    border-width: .1em;
}
#header-line-two {
    color: #4ADF86;
}

.section {
    margin-right: auto;
    margin-left: auto;
    width: 20em;
}


.password-field {
    display: inline-block;
    background-color: #273549;
    color: #55f991;
    border-radius: .25em;
    text-align: center;
    padding: .25em;
    margin: auto;
    width: 8em;
    margin-right: auto;
    margin-left: auto;
}