*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Karla', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #4ADF86;
}

body {
    background-color: #1f2937;
    color:rgb(225, 236, 250)
}

button { 
    background-color: #4ADF86;
    color: #ffffff;
    border-radius: .3em;
    border: none;
    padding: .5em;
    font-size: 1rem;
}

.flex-reverse {
    display: flex;
    flex-direction: column-reverse;
    
}