*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
}

h1 {
    color: #4ADF86;
}

body {
    background-color: #1f2937;
    color:rgb(225, 236, 250)
    
}

head {
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    letter-spacing: -0.025em;
}

button {
    background-color: #4ADF86;
    color: aliceblue;
}

.flex-reverse {
    display: flex;
    flex-direction: column-reverse;
    
}